@{
    ViewData["Title"] = "Exchange Rates";
}

<div class="text-center">
    <h1 class="display-4">Pobieranie tabeli kursów ze strony NBP</h1>
    <p>Dokumentacja API: <a href="https://api.nbp.pl/">dostępna tutaj</a>.</p>

    @using (Html.BeginForm("LoadTableDataForm", "ExchangeRates", FormMethod.Post, new { id = "postForm" }))
    {
        @Html.DropDownList(
            "tableTypeString",
            new SelectList(new List<object> 
            {
                new { Text = "Tabela A", Value = "A" },
                new { Text = "Tabela B", Value = "B" },
                new { Text = "Tabela C", Value = "C" }
            }, "Value", "Text"),
            new { @id = "tableTypeSelector" }
        )
        
        <button type="submit">Wczytaj podgląd danych (Formularz)</button>
    }
    <button id="loadData">Wczytaj podgląd danych (Ajax)</button>

    <div id="dataContainer"></div>

    <script>
        $(document).ready(function () {
            $("#loadData").click(function () {
                $("#dataContainer").html("Loading...");
                let selectedTableType = $("#tableTypeSelector").val();
                $.ajax({
                    url: "/ExchangeRates/LoadTableDataAjax",
                    type: "POST",
                    data: { tableTypeString: selectedTableType },
                    success: function (data) {
                        $("#dataContainer").html(data);
                    },
                    error: function () {
                        $("#dataContainer").html("Wystąpił błąd podczas wczytywania danych.");
                    }
                });
            });
        });
    </script>
</div>